*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
}

#navBar{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 30px auto;
}

#list ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    font-size: 13px;
    opacity: 0.5;
}

#firstMain{ 
    width: 85%;
    margin: 60px auto;
    display: flex;
    margin-bottom: 0;
    
}

#firstMainLeft{
    /* background-color: red; */
    height: 300px;
    width: 45%;
    /* border: 1px solid blue; */
    margin-top: 100px;
    
}

 #firstMainRight{
    /* background-color: yellow; */
    height: 600px;
    width: 55%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
} 

#h1firstLeft{
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}

#pfirstLeft{
   color: black;
   opacity: 0.7;
   font-size: 15px;
}

.firstLeft{
    margin: 10px 0px;
}

#input1{
    border: 1px solid grey;
    width: 50%;
    height: 35px;
    border-radius: 5px;
   
}

#button1{
    padding: 10px 50px;
    background-color:#2966fb;
    color: white;
    border-radius: 5px;
}

#input1{
   padding: 10px;
}


 #backgroundImageMain{
 background-image: url('bg-curve-desktop.svg');
 background-repeat: no-repeat;
 /* min-height: 300px; */
     min-height: 100px;
}

#secondMain{
    background: #f8f8fe;
}

#divSecondMain{ 
    display: flex;
    padding-bottom: 100px;
}

#secondMainLeft{
    min-height: 400px;
    /* background-color: tomato; */
    /* margin-top: 120px; */
    /* width: 45%; */
    /* border: 1px solid red; */
    flex: 1;
    margin-left: 80px;
    
}

#secondMainRight{
    min-height: 400px;
    /* background-color: teal; */
    /* background: #f8f8fe; */
    /* margin-top: 120px; */
    /* width: 45%; */
    /* border: 1px solid blue; */
    flex: 1;
} 

#hProductive{
    font-size: 30px;
}

.psecondMainLeft{
   color: black;
   opacity: 0.7;
   font-size: 15px;
   margin: 10px 0;
}



#divArrow{
    display: flex;
    color: #3f9b89;
}

#divUnderline{
    height: 1px;
    width: 131px;
    background-color: #3f9b89;
    margin-bottom: 20px;
}

#whiteBackground{
    min-height: 170px;
      width: 50%;
    line-height: 1.5;
    /* border: 1px solid red; */
    background-color: white;
    padding-left: 20px;
    padding-top: 10px;
    box-shadow: 0px 0px 2px 4px #f3f2f7;
}

#divAvatar{
    display: flex;
    margin-top: 20px;
    gap: 5px;
}


#nameKyle{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

#pFounder{
    font-size: 5px;
}

#avatarImage img{
    height: 50px;
   border-radius: 50%;
}

#pFlyo{
    font-size: 10px;
    font-weight: 600;
    opacity: 0.7;
}

.psecondMainLeft{
    line-height: 1.5;
    margin: 20px 0;
    font-size: 13px;
}

#pArrowText{
    font-size: 13px;
}

#thirdMain{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 80px 0px;
    background: #575989;
}

#thirdMainLeft{
    /* background-color: red; */
}

#thirdMainRight{
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
}

#inputThirdMainRight{
    width: 400px;
    height: 40px;
    /* border: 1px solid black; */
    margin-bottom: 15px;
    box-shadow: 0px 0px 2px 0px #f8f8fe; 
    padding-left: 10px;
}

#btnThirdMainRight{
    width: 180px;
    height: 40px;
    background-color: #3065f8;
    color: white;
    border-radius: 5px;
    
}


#pThirdMainLeft{
    font-size: 13px; 
    line-height: 1.5;
    color: white;
    font-family: sans-serif;
}

#hThirdMainLeft{
    margin-bottom: 20px;
    color: white;
}

footer{
    color: white; 
    background: #07043b;
    padding: 30px;
    padding-top: 60px;
    font-size: 13px; 
    line-height: 3;
}

#svgFooterSection{
    width: 84%;
    margin: 0px auto;
}

#lastFooterSection{
    display: flex;
    justify-content: space-around;
}

.footerList menu li{
     list-style: none;
}

#footerIcon{
   display: flex;
   gap: 10px;
   margin-top: 20px;
}

#footerIcon a{
    border: 1px solid white;
     width: 10px;
     height: 10%;
     padding: 10px;
     padding-bottom: 20px;
     padding-right: 20px;
     border-radius: 50%;
}


@media (max-width: 600px) {
    #navBar {
        justify-content: space-between;
        align-items: center;
        margin: 40px auto;
        margin-bottom: 200px;
    }

    #list ul {
        padding: 0;
    
    }

    #list ul li {
        display: inline-block;
        margin: 10px;
        color: #000;
        /* color: #575469; */
        /* color: #240750; */
        font-size: 20px;
        font-weight: bolder;
        
    }

    #firstMain {
        flex-direction: column-reverse;
    }

    #firstMainLeft, #firstMainRight {
        width: 100%;
        margin: 0;
    }

    #firstMainLeft {
        margin-top: 20px;
    }

    #h1firstLeft{
        font-family: sans-serif;
        text-align: center;
        margin: 20px;
    }

    #pfirstLeft{
        font-family: sans-serif;
        text-align: center;
        margin: 20px;
        font-size: 20px;
        line-height: 1.5;
    }


    #firstMainRight img {
        width: 100%;
        height: auto;
    }

    #inputButton{
        display: flex;
        flex-direction: column;
        
    }

    #input1{
        width: 100%;
        margin: 20px 0px;
        height: 70px;
    }

    #button1{
        width: 100%;
        margin: 20px 0px;
        height: 70px;
    }

    
 #backgroundImageMain{
    background-image: url('bg-curve-mobile.svg');
    background-repeat: no-repeat;
    /* min-height: 300px; */
       min-height: 300px;
   }
   



    #secondMain {
        padding: 20px;
    }

    #divSecondMain {
        flex-direction: column-reverse;
    }

    #hProductive{
         font-weight: 900;
         margin: 30px 0px;
         text-align: center;
         font-family: 'Raleway', sans-serif;
         font-size: 25px;
         
    }

    .psecondMainLeft{
        margin: 30px 0px;
         text-align: center;
         font-family: sans-serif;
         font-size: 22px;
    }

    #divArrow{
        display: flex;
    }

    #secondMainLeft{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    #pArrowText{
        font-size: 25px;
    }

    #divUnderline{
        width: 50%;
    }

    #whiteBackground{
        width: 100%;
        margin: 40px 0px;
    }

    #pFlyo{
        font-size: 20px;
        font-weight: 400;
    }

    #nameKyle h6{
       font-size: 15px;
    }

    #iconQuotes{
        width: 15px;
        height: 15px;
    }

    #pFounder{
        font-size: 15px;
    }

    #secondMainLeft, #secondMainRight {
        width: 100%;
        margin: 0;
    }



    #thirdMain{
        display: flex;
        flex-direction: column;
    }

    #hThirdMainLeft{
        text-align: center;
        font-size: 40px;
        font-family: 'Raleway', sans-serif;
    }
    
     #pThirdMainLeft{
        text-align: center;
        font-size: 25px;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 0.5px;
     }

    #inputThirdMainRight{
         width: 80%;
         margin: 20px auto;
    }

    #btnThirdMainRight{
        width: 80%;
        margin-left: 50px;
    }

    #svgFooterSection {
        display: flex;
        
    }

    .iconDiv{
        width: 100%;
        /* background-color: yellow; */
        font-size: 20px;
        text-align: left;
        margin-left: 50px;
    }

    .footerList{
        /* background-color: red; */
        width: 100%;
        font-size: 20px;
        text-align: left;
        margin-left: 50px;
    }

    #lastFooterSection {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
